@model IEnumerable<Laundry_Go_Customer_Site.Models.Order_Header>

@{
	ViewData["Title"] = "Index";
	Layout = "_LayoutLogin";

}

@section head{
	<link href="../theme/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
	<!-- DataTables CSS -->
	<link href="../theme/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
	<!-- DataTables Responsive CSS -->
	<link href="../theme/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="../theme/dist/css/sb-admin-2.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="../theme/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        p.status{
            font-size:10px !important;
        }
        
        label{
            font-size:10px;
        }
        .card-body {
            padding-bottom: 0px;
        }
        hr {
            margin-bottom: 0px;
        }
        i.status-active {
            color: #00bcd4 !important;
        }
        .status{
            color: #d2d2d2 ;
        }
        .card-body{
            padding-top: 30px !important;
        }
    </style>
}
<div class="container" style="margin-top:100px">
<div class="row">
    <div class="col-12">
        <h1>Order List</h1>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
				{
    <div class="col-md-6">
        
        <div class="card">
          			
         			<div class="card-body">
                          <div class="row">
                                        <div class="col-2 text-center">
                                            <i class="fa fa-clock-o fa-2x status status-active" title="Awaiting Pickup"></i>
                                        </div>
                                        @if (item.status_id >= 2)
										{
                                        <div class="col-2 text-center">
                                            <i class="fa fa-truck fa-2x status status-active" title="Pick Up"></i>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-2 text-center">
                                            <i class="fa fa-truck fa-2x status" title="Pick Up"></i>
                                        </div>
                                        }

                                        @if (item.status_id >= 3)
										{
                                        <div class="col-2 text-center">
                                            <i class="fa fa-tint fa-2x status status-active" title="Washing In Progress"></i>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-2 text-center">
                                            <i class="fa fa-tint fa-2x status" title="Washing In Progress"></i>
                                        </div>
                                        }

                                        @if (item.status_id >= 4)
										{
                                        <div class="col-2 text-center">
                                            <i class="fa fa-tint fa-2x status status-active" title="Washing Completed"></i>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-2 text-center">
                                            <i class="fa fa-tint fa-2x status" title="Washing Completed"></i>
                                        </div>
                                        }

                                        @if (item.status_id >= 5)
										{
                                        <div class="col-2 text-center">
                                            <i class="fa fa-truck fa-2x status status-active" title="Delivering"></i>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-2 text-center">
                                            <i class="fa fa-truck fa-2x status" title="Delivering"></i>
                                        </div>
                                        }

                                        @if (item.status_id >= 6)
                                        {
                                        <div class="col-2 text-center">
                                            <i class="fa fa-check-circle fa-2x status status-active" title="Done"></i>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-2 text-center">
                                            <i class="fa fa-check-circle fa-2x status" title="Done"></i>
                                        </div>
                                        }
                                        
                         </div>
                         <!-- end row -->
                         <hr />
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="bag">Total Bag</label>
                                                <input type="text" class="form-control" name="bag" value="" disabled />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="total_weight">Total Weight</label>
											    <input type="text" class="form-control" name="total_weight" value="" disabled />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="price">Price</label>
												<input type="text" class="form-control" name="price" value="" disabled />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="pickup">Pickup</label>
												<input type="text" class="form-control" name="pickup" value="" disabled />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="dropoff">Dropoff</label>
												<input type="text" class="form-control" name="dropoff" value="" disabled />
                                            </div>
                                        </div>
                                    </div>
                    </div>
        </div>
    </div>
    <!-- end col -->
                }
    
</div>
<!-- end row -->

</div>
<!-- end container -->


</div>
<!-- End Container -->
@section foot{
	<!-- DataTables JavaScript -->
	<script src="../theme/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="../theme/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
	<script src="../theme/vendor/datatables-responsive/dataTables.responsive.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="../dist/js/sb-admin-2.js"></script>
	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script>
		$(document).ready(function () {
			$('#dataTables-example').DataTable({
				responsive: true
			});
		});
	</script>

}