
@{
	ViewData["Title"] = "Requested";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<header class="masthead">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="card text-center" style="margin-top:100px">
					<h5 class="card-header">Transport are on its way!</h5>
					<div class="card-body">
						<img src="../img/5158.png" alt="laundry go" width="100%">
						@*<a href="#" class="btn btn-primary" style="width:100%">Continue to </a>*@

					</div>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
</header>

